/**
 * Pretendard Font Face Definitions
 * font-display: optional - 폰트 로딩 중에도 시스템 폰트로 즉시 렌더링하여 FOUT 방지
 */

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    font-display: optional;
    src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    font-display: optional;
    src: url('../fonts/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    font-display: optional;
    src: url('../fonts/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    font-display: optional;
    src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
}
